body{
    margin:0px;
    padding:0px;
    background-color: #e0f2e9;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Header{
    width: 100%;
    text-align: center;
    background-color: #e0f2e9;
    background-color: #437F97;
    color:#0a2463;
    font-size: large;
}
.SearchBar,.WeatherCard{
    padding:8px;
    margin:8px;
    background-color: #3c887e;
    border-radius: 8px;
    font-size: large;
}
